.message {
  width: 500px;
  height: 100px;
  background: red;
  position: relative;
  left: -5000px;
  animation: mymove 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes mymove {
  0% {
    left: -5000px;
  }
  40% {
    left: 200px;
  }
  100% {
    left: 180px;
  }
}
