.message {
  width: 500px;
  height: 100px;
  background: red;
  position: relative;
  left: -5000px;
  animation: mymove 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes mymove {
  0% {
    left: -5000px;
  }
  40% {
    left: 200px;
  }
  100% {
    left: 180px;
  }
}

.__dropbtn {
  /* background-color: #4CAF50; */
  color: rgb(15, 14, 14);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.__dropdown {
  position: relative;
  display: inline-block;
}

.__dropdown_content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.__dropdown_content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.__dropdown_content p:hover {
  background-color: #181212;
  color: #ffffff;
  cursor: pointer;
}

.__dropdown:hover .__dropdown_content {
  display: block !important;
}

/* .__dropdown:hover .__dropbtn {
  background-color: #3e8e41;
} */

.image_dropdown {
  position: relative;
  display: block;
}

.image_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 320px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.image_dropdown:hover .image_dropdown_content {
  display: flex;
  justify-content: left;
}
