.__dropbtn {
  /* background-color: #4CAF50; */
  color: rgb(15, 14, 14);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  /* float: right; */
}

.__dropdown {
  position: relative;
  display: inline-block;
}

.__dropdown_content {
  direction: ltr;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.__dropdown_content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.__dropdown_content p:hover {
  background-color: #181212;
  color: #ffffff;
  cursor: pointer;
}

.__dropdown:hover .__dropdown_content {
  display: block !important;
}
